* {
   box-sizing: border-box;
}
body {
   margin: 0;
}
.root {
   min-height: 100vh;
   background-image: url("./elements/fondo.svg");
   padding: 0 25px;
   display: flex;
   align-items: center;
   justify-content: center;
}
